body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    background: black;
}

.windows95 {
    background:black; /* Windows 95 color */
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.computer {
    background-color:  #8f8f9b;;
    border-left: 90px solid #8f8f9b; /* Windows 95 color */
    border-right: 90px solid #8f8f9b; 
    border-top: 35px solid #8f8f9b;
    border-bottom: 35px solid #8f8f9b;
    border-radius: 40px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 1); 
    overflow: hidden;
}

.screen {
    width: 60vw;
    height: 90vh;
    overflow: hidden;
    border: black 2px solid;
    border-radius: 10px;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}
